# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.lock.hcl

# Ansible
*.retry

# Secrets
*.pem
*.key

# Lab mirror
lab-mirror/terraform/.terraform/
lab-mirror/terraform/*.tfstate*
lab-mirror/terraform/.terraform.lock.hcl
lab-mirror/kolla/passwords.yml
*.pem
*.key
*.log
*.retry
__pycache__/
*.pyc
