---
- name: Check if Go is installed
  ansible.builtin.stat:
    path: /usr/local/go/bin/go
  register: go_binary

- name: Download Go {{ go_version }}
  ansible.builtin.get_url:
    url: "https://go.dev/dl/go{{ go_version }}.linux-amd64.tar.gz"
    dest: "/tmp/go{{ go_version }}.linux-amd64.tar.gz"
    mode: "0644"
  when: not go_binary.stat.exists

- name: Remove old Go installation
  ansible.builtin.file:
    path: /usr/local/go
    state: absent
  when: not go_binary.stat.exists

- name: Extract Go
  ansible.builtin.unarchive:
    src: "/tmp/go{{ go_version }}.linux-amd64.tar.gz"
    dest: /usr/local
    remote_src: yes
  when: not go_binary.stat.exists

- name: Add Go to system PATH
  ansible.builtin.copy:
    dest: /etc/profile.d/go.sh
    content: |
      export PATH=$PATH:/usr/local/go/bin
      export GOPATH=$HOME/go
      export PATH=$PATH:$GOPATH/bin
    mode: "0644"

- name: Verify Go installation
  ansible.builtin.command: /usr/local/go/bin/go version
  register: go_ver
  changed_when: false

- name: Show Go version
  ansible.builtin.debug:
    msg: "{{ go_ver.stdout }}"
