---
# Install Go via Ubuntu's golang-go package or snap
# (dl.google.com is unreachable from some networks)

- name: Install Go from Ubuntu repository
  ansible.builtin.apt:
    name:
      - golang-go
    state: present
    update_cache: yes

- name: Add Go paths to system profile
  ansible.builtin.copy:
    dest: /etc/profile.d/go.sh
    content: |
      export GOPATH=$HOME/go
      export PATH=$PATH:$GOPATH/bin
    mode: "0644"

- name: Verify Go installation
  ansible.builtin.command: go version
  register: go_ver
  changed_when: false

- name: Show Go version
  ansible.builtin.debug:
    msg: "{{ go_ver.stdout }}"
